[Desktop Entry]
Type=Application
Version=1.0
Name=Install Iron Linux
GenericName=System Installer
Exec=calamares-install-iron
Comment=Install Iron Linux to disk
Keywords=calamares;system;install;iron;linux;installer
Icon=iron-linux-logo
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=true
NoDisplay=true
