[Desktop Entry]
Type=Application
Name=Install Iron Linux
Comment=Install Iron Linux to your computer
Exec=iron-installer
Icon=iron-linux-logo
Terminal=false
Categories=System;X-Installer;GTK;
Keywords=install;installer;calamares;iron;
