[Desktop Entry]
Type=Application
Name=Terminal
Comment=Lightweight Wayland terminal
Exec=foot
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
