@import url("/usr/share/themes/Iron/colors.css");

* {
  border: none;
  border-radius: 0;
  font-family: Inter, sans-serif;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: @iron_bg_deep;
  border-bottom: 1px solid @iron_border_subtle;
  color: @iron_fg;
}

#custom-launcher,
#workspaces,
#clock,
#tray,
#network,
#pulseaudio,
#battery,
#custom-power {
  padding: 0 10px;
}

#custom-launcher {
  background: @iron_accent_steel;
  color: @iron_bg_deep;
  font-weight: 700;
  padding: 0 14px;
}

#custom-launcher:hover {
  background: @iron_fg_white;
}

#workspaces button {
  color: @iron_fg_muted;
  padding: 0 8px;
}

#workspaces button.active {
  color: @iron_fg_bright;
  background: @iron_bg_elevated;
  border-bottom: 2px solid @iron_border_bright;
}

#clock {
  color: @iron_fg_bright;
  font-weight: 600;
}

#network.disconnected,
#pulseaudio.muted,
#battery.warning {
  color: @iron_warning;
}

#battery.critical {
  background: @iron_urgent;
  color: @iron_fg_white;
}

#custom-power:hover,
#network:hover,
#pulseaudio:hover,
#workspaces button:hover {
  background: @iron_bg_hover;
  color: @iron_fg_white;
}

#custom-power {
  color: @iron_fg_secondary;
}
